service: deploy4j-demo
image: teggr/deploy4j-demo
servers:
  - localhost
registry:
  username:
    - DOCKER_USERNAME
  password:
    - DOCKER_PASSWORD
env:
  clear:
    SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/testdb
    SPRING_DATASOURCE_USERNAME: testuser
    SPRING_DATASOURCE_PASSWORD: testpass
ssh:
  user: root
  port: 2222
  key_path:
    - PRIVATE_KEY
  key_passphrase:
    - PRIVATE_KEY_PASSPHRASE
  strict_host_key_checking: false
accessories:
  db:
    image: postgres:18-alpine
    host: localhost
    port: 5432
    env:
      clear:
        POSTGRES_USER: testuser
        POSTGRES_PASSWORD: testpass
        POSTGRES_DB: testdb
    directories:
      - data:/var/lib/postgresql/18/docker
traefik:
  publish: true
  args:
    api.insecure: true
  options:
    publish: "8080:8080"
# disable the healthcheck
healthcheck:
   path:
   port:
